@import "../shared/globals";

body {
  font-family: Roboto;
}

#root {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
}
